/bin/
/target/
/obj/
build/
/node.out/
/.vscode/
/.metadata/
depot_tools/
v8build/
v8-working.out/
jni/*.h

*.class
.gradle
.DS_Store
*.patch
*.so
*.dll
*.dylib
hs_err*.log
*.tar.gz
*.hprof

# Intellij project files
*.iml
*.ipr
*.iws
.idea

# Python binaries
*.pyc

# build input/output
node
build.out
cmake.out
node.out
v8.out

# test input/output
test-mockup-os-release

# generated dependency packages
*.tar.*
